<div class="page-container">
  <header class="header">
    <div class="logo">
      <h1 class="brand">PharmaSage</h1>
    </div>
    <nav class="navigation">
      <a href="#">Assistance</a>
    </nav>
  </header>
</div>


<div id="grad" class= "banner d-flex flex-column justify-content-center align-item-center">
  <div class="whatever">
    <div class="guy">
      <h2 class= "h2-head">Sorting health,</h2>
      <h2 class= "h2-head">delivering care</h2>
      <hr id="line" style="height:5px; border-width:0; text-align:left; width:100px">
      <div id="home-ban-text">
        <p class="head-text">PharmaSage is your comprehensive </p>
        <p class="head-text"> partner in health and well-being.</p>
      </div>
    </div>

    <div class="something"></div>
  </div>
</div>


  <div id="bg-div" class="d-flex justify-content-between">
    <div class="w-50 ms-5">
      <div>
        <h2 id="hero-text">A Medication Availability Checker For You</h2>
      </div>
      <hr class="f-line">
      <div>
        <p id="sub-hero">Our compounding advisors are here to provide our many years of experience to work for your individual requirements</p>
      </div>
    </div>
  </div>

  <div class="d-flex justify-content-between"> <!-- Center the cards -->
    <div id="card" class="d-flex justify-content-center align-items-center">

      <div class="card mx-2 shadow p-3 bg-body card-ph"> <!-- Adjust width as needed -->
        <i class="fa-solid fa-map fa-3x"></i>
        <div class="w-75 ms-4 my-1"> <!-- Adjust width as needed -->
          <p><strong class="online-reserve-card">On-call pharmacies</strong></p>
          <p class="online-reserve-description">Find your on-call pharmacies open during non-business hours.</p>
        </div>
      </div>

      <div class="card mx-2 shadow p-3 bg-body card-ph"> <!-- Adjust width as needed -->
        <i class="fa-solid fa-mortar-pestle fa-3x"></i>
        <div class="w-75 ms-4 my-1"> <!-- Adjust width as needed -->
          <p><strong class="online-reserve-card">Compounding services</strong></p>
          <p class="online-reserve-description">We offer a wide range of compounding services designed just for you.</p>
        </div>
      </div>

      <div class="card mx-2 shadow p-3 bg-body card-ph"> <!-- Adjust width as needed -->
        <i class="fa-solid fa-prescription-bottle fa-3x"></i>
        <div class="w-75 ms-4 my-1"> <!-- Adjust width as needed -->
          <p><strong class="online-reserve-card">Online Reservation</strong></p>
          <p class="online-reserve-description">Our app allows you to reserve products designed to keep you healthy.</p>
        </div>
      </div>

    </div>
  </div>



  <div class="container shadow p-3 mb-5 bg-body">
    <div class="text-box">
      <div class="text1" >
        <div class="bg-image-1"></div>
        <p><strong>All your Medicine needs in one place</strong></p>
        <hr id="line1" style="height:5px; border-width:0; text-align:left; width:100px; margin-left: 10px">
        <ul>
          <li>Search and find all kind of drugs</li>
          <li>We have drugs for special case treatments</li>
          <li>Get notified when your drug is available</li>
        </ul>
      <%= link_to "Search Pharmacy", pharmacies_path, class: "btn btn-outline-success" %>
      </div>
      <div class="text2">
        <div class="bg-image-2"></div>
        <p><strong>Reserve your medicine now</strong></p>
        <hr id="line2" style="height:5px; border-width:0; text-align:left; width:100px; margin-left: 10px">
        <li>Get your profile ready.</li>
        <li>Reserve your medicine in one click.</li>
      <%= link_to "Reserve Now", pharmacies_path, class: "btn btn-outline-success" %>
      </div>
      <div class="text3">
        <div class="bg-image-3"></div>
        <p><strong>Set up your profile and get started</strong></p>
        <hr id="line1" style="height:5px; border-width:0; text-align:left; width:100px; margin-left: 10px">
        <li>When you are a member you reserve your medicine easily</li>
        <li>With one click your medicine will be waiting for you at your local pharmacy</li>
        <li>Chat with a pharmacist</li>
      <%= link_to "Get Started", pharmacies_path, class: "btn btn-outline-success" %>
      </div>
    </div>
  </div>


  <div class="container" id="partnership" >
    <p class="partners"><strong>Our Partnership</strong></p>
    <hr id="line3"style="height:5px; border-width:0; text-align:left; width:100px; margin-left: 10px">
    <div class="picture"></div>
  </div>

  <div class="container" id="last-thing">
    <h1><strong>Simplify your pharmacy experience today</strong></h1>
    <div class="button-to-join">
    <button class="btn btn-outline-success" >Join Us</button>
  </div>

  <div class="phone-info">
    <p class="join-call">Prefer to join through a phone call?</p>
    <p class="speak-to-advisor">Speak to a PharmaSage advisor today.</p>
        <button class="btn btn-outline-success join-us-ps" >0522 202 092</button>

  </div>

</div>
