<div id="grad" class= "banner d-flex flex-column justify-content-center align-item-center">
<div class="whatever">
  <div class="guy">
    <h2 class= "h2-head">Sorting health,</h2>
    <h2 class= "h2-head">delivering care</h2>
  <hr id="line" style="height:5px; border-width:0; text-align:left; width:100px">
    <p class="p-head">PharmaSage is your comprehensive partner</p>
    <p class="p-head">in health and well-being.</p>
  </div>
  <div class="something"></div>
</div>
</div>
<div id="bg-div" class="d-flex justify-content-between">
  <div class="w-50 ms-5">
  <div>
    <h2 id="header">A Medication Availability Checker For You</h2>
  </div>
  <hr class="f-line" style="color: black;">
  <div>
    <p id="sub-header">Our compounding advisors are here to provide our many years of experience to work for your individual requirements</p>
  </div>
  </div>
</div>

<div id="card" class="d-flex justify-content-between align-items-center mb-5 ">
  <div class="card w-25 ms-5 shadow p-3 mb-5 bg-body">
    <i class="fa-solid fa-map fa-3x my-4 ms-4"></i>
      <div class="w-55 ms-4 my-1">
        <p><strong>On-call pharmacies</strong></p>
      <p>Find your on-call pharmacies open during non-business hours</p>
    <%= link_to "Locate Now", "#", class: "custom-link"%>
      </div>
  </div>



  <div class="card w-25 me-5 shadow p-3 mb-5 bg-body">
    <i class="fa-solid fa-prescription-bottle fa-3x my-4 ms-4"></i>
      <div class="w-55 ms-4 my-1">
        <p><strong>Online Reservation</strong></p>
      <p>Our app allows you to reserve products designed to keep you healthy</p>
    <%= link_to "Reserve Now", "#", class: "custom-link"%>
      </div>
  </div>
</div>

<div class="container shadow p-3 mb-5 bg-body">
    <div class="text-box">
  <div class="text1" >
  <div class="bg-image-1"></div>
  <p><strong>All your Medicine needs in one place</strong></p>
    <hr id="line1" style="height:5px; border-width:0; text-align:left; width:100px; margin-left: 10px">
        <li>Search and find all kind of drugs</li>
    <li>We have drugs for special case treatments</li>
        <li>Get notified when your drug is available</li>
  <button type="button" class="btn btn-outline-success">Search Pharmacy </button>
</div>
<div class="text2">
<div class="bg-image-2"></div>
  <p><strong>Reserve your medicine now</strong></p>
    <hr id="line2" style="height:5px; border-width:0; text-align:left; width:100px; margin-left: 10px">
        <li>Get your profile ready and reserve your medicine in one click.</li>
  <button type="button" class="btn btn-outline-success">Order Now </button>
</div>
<div class="text3">
<div class="bg-image-3"></div>
  <p><strong>Set up your profile and get started</strong></p>
    <hr id="line1" style="height:5px; border-width:0; text-align:left; width:100px; margin-left: 10px">
        <li>When you are a member you reserve your medicine easily</li>
        <li>With one click your medicine will be waiting for you at your local pharmacy</li>
        <li>Chat with a pharmacist</li>
  <button type="button" class="btn btn-outline-success">Get Started </button>
    </div>
  </div>
</div>
  <div class="container" id="partnership" >
      <p class="partners"><strong>Our Partnership</strong></p>
          <hr id="line3"style="height:5px; border-width:0; text-align:left; width:100px; margin-left: 10px">
            <div class="picture">
        </div>
            </div>
        <div class="container" id="last-thing">
            <p><strong>Simplify your pharmacy experience today</strong></p>
        <div class="button">
            <button class="btn btn-outline-success" >Join Us</button>
        </div>
          <div class="phone-info">
        <p><strong>Prefer to join through a phone call?</strong></p>
      <p>Speak to a PharmaSage advisor today.</p>
    </div>
  </div>
